@page "/"
@using MatBlazor

<div class="chessboard">
    <div>
        <MatIconButton Class="black sqare sqare-a1">
            <i class="fas fa-square-full" />
        </MatIconButton>
    </div>

  
    @*<img src="/img/1200px-Chess_Board.svg.png" alt="chessboard" width="640" height="640" />*@
    <MatIconButton Class="white rook ra1">
        <i class="fas fa-chess-rook"></i>
    </MatIconButton>
    <MatIconButton Class="white pawn e2">
        <i class="fas fa-chess-pawn"></i>
    </MatIconButton>
</div>


@code {

}
