@page "/"
@using MatBlazor

<div class="chessboard">
    <div class="rank-eighth">
        <div class="file-A">
            <MatIconButton Class="white square square-a8">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-B">
            <MatIconButton Class="black square square-b8">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-C">
            <MatIconButton Class="white square square-c8">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-D">
            <MatIconButton Class="black square square-d8">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-E">
            <MatIconButton Class="white square square-e8">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-F">
            <MatIconButton Class="black square square-f8">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-G">
            <MatIconButton Class="white square square-g8">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-H">
            <MatIconButton Class="black square square-h8">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
    </div>
    <div class="rank-seventh">
        <div class="file-A">
            <MatIconButton Class="black square square-a7">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-B">
            <MatIconButton Class="white square square-b7">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-C">
            <MatIconButton Class="black square square-c7">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-D">
            <MatIconButton Class="white square square-d7">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-E">
            <MatIconButton Class="black square square-e7">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-F">
            <MatIconButton Class="white square square-f7">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-G">
            <MatIconButton Class="black square square-g7">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-H">
            <MatIconButton Class="white square square-h7">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
    </div>
</div>


@*<img src="/img/1200px-Chess_Board.svg.png" alt="chessboard" width="640" height="640" />*@
@*<MatIconButton Class="white rook ra1">
        <i class="fas fa-chess-rook"></i>
    </MatIconButton>*@
    @*<MatIconButton Class="white pawn e2">
        <i class="fas fa-chess-pawn"></i>
    </MatIconButton>*@



@code {

}
