@page "/"
@using MatBlazor

<div class="chessboard">
    <div class="rank-8th">
        <div class="file-A">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-B">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-C">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-D">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-E">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-F">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-G">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-H">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
    </div>
    <div class="rank-7th">
        <div class="file-A">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-B">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-C">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-D">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-E">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-F">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-G">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-H">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
    </div>
    <div class="rank-6th">
        <div class="file-A">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-B">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-C">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-D">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-E">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-F">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-G">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-H">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
    </div>
    <div class="rank-5th">
        <div class="file-A">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-B">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-C">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-D">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-E">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-F">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-G">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-H">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
    </div>
    <div class="rank-4th">
        <div class="file-A">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-B">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-C">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-D">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-E">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-F">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-G">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-H">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
    </div>
    <div class="rank-3rd">
        <div class="file-A">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-B">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-C">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-D">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-E">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-F">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-G">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-H">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
    </div>
    <div class="rank-2nd">
        <div class="file-A">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-B">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-C">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-D">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-E">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-F">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-G">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-H">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
    </div>
    <div class="rank-1st">
        <div class="file-A">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-B">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-C">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-D">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-E">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-F">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-G">
            <MatIconButton Class="black square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
        <div class="file-H">
            <MatIconButton Class="white square">
                <i class="fas fa-square-full" aria-hidden="true" />
            </MatIconButton>
        </div>
    </div>
</div>


@*<img src="/img/1200px-Chess_Board.svg.png" alt="chessboard" width="640" height="640" />*@
@*<MatIconButton Class="white rook ra1">
        <i class="fas fa-chess-rook"></i>
    </MatIconButton>*@
    @*<MatIconButton Class="white pawn e2">
        <i class="fas fa-chess-pawn"></i>
    </MatIconButton>*@



@code {

}
