@page "/"
<div class="chessboard">
    <img src="/img/1200px-Chess_Board.svg.png" alt="chessboard" width="640" height="640" />
    <span class="iconify white-pawn e2" data-icon="mdi-chess-pawn"></span>
</div>


@code {

}
